<!DOCTYPE html>
<html>
  <head>
    <title>My book library</title>
    <link rel="stylesheet" href="static\style.css">
  </head>
  <body>
    <h1>Please enter book details</h1>
    <form method="post">
      {{ form.csrf_token }}
      <p>
        {{ form.title.label }}<br>
        {{ form.title() }}
      </p>
      <p>
        {{ form.author.label }}<br>
        {{ form.author() }}
      </p>
      <p>
        {{ form.publisher.label }}<br>
        {{ form.publisher() }}
      </p>
      <p>
        {{ form.year.label }}<br>
        {{ form.year() }}
      </p>
      <p>
        {{ form.pages.label }}<br>
        {{ form.pages() }}
      </p>
      <p>
        <input type="submit" value="Save">
      </p>
    </form>
    <h1>My list of books</h1>
    <table class="mytable">
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Publisher</th>
        <th>Year of publication</th>
        <th>Number of pages</th>
      </tr>
      {% for book in books %}
      <tr>
        <td>{{ book['title'] }}</td>
        <td>{{ book['author'] }}</td>
        <td>{{ book['publisher'] }}</td>
        <td>{{ book['year'] }}</td>
        <td>{{ book['pages'] }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
